/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/src/main/resources/application.properties
/src/main/resources/application-TE.properties
/src/main/resources/UTC--2018-08-12T08-20-09.094Z--9b2669fb67268d08996e554f3dc8329d99babec7
